<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Key1" value="162"/>
    <add key="Key2" value="66"/>
    <add key="FontSize" value="12"/>
    <add key="FontColor" value="#FFFFFFFF"/>
    <add key="PosX" value="0"/>
    <add key="PosY" value="0"/>
    <add key="Width" value="500"/>
    <add key="Height" value="500"/>
  </appSettings>
</configuration>